body {
    font-family: 'Playfair Display';
    margin: 0;
    background: #F6F4F1;
}

.scrollMenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.scrollMenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0 20px;
    text-decoration: none;
}
  
.scrollMenu a:hover {
    background-color: #777;
}

h1 {
    display: inline-block;
    font-size: 45px;
}

h2 {
    padding: 10px;
    text-align: center;
}

h3 {
    padding: 10px;
    display: inline-block;
}

#home {
    text-align: center;
    padding-top: 135px;
    display: flex;
}

.imageContainer {
    width: 900px;
}

.imageContainer img {
    width: 450px;
    animation: blink 1.5s infinite;
}

@keyframes blink {
    from {border: 0.5px dotted #333; border-radius: 10px;}
    to {border: 2px solid #333; border-radius: 10px;}
}

.section {
    margin: 80px 10px;
    padding: 135px 15px 0;
}

.profile {
    text-align: left;
    margin: auto;
    margin-left: 0;
}

#education {
    text-align: center;
}

.school {
    margin: auto;
    padding: 30px 150px;
    display: inline-block;
}

.school img {
    height: 200px;
    margin-bottom: 20px;
}

table {
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

th, td {
    padding: 20px 50px;
    background: white;
    border: 3px solid #F6F4F1;
    width: 300px;
}

th {
    background: #777;
    color: white;
}

.projectExplain {
    text-align: center;
    margin: 30px 0 100px;
}

#project img, video {
    margin: 20px;
}

#contact {
    text-align: center;
    margin-bottom: 600px;
}

#contact h2 {
    margin-bottom: 40px;
}

.contact {
    padding: 30px;
    text-align: left;
    display: inline;
    margin: auto;
}

.contact p {
    display: inline-block;
}

.contact a {
    text-decoration: none;
    color: black;
}

.contact a:hover {
    text-decoration: none;
    color: blue;
}